.tableBg {
  display: flex;
  // background-color: forestgreen;

  .chip {
    // margin: 1rem;
    // width: 100px;
    // height: 100px;
    // background-color: transparent;
    // border: 3px solid #ffffff;
    // border-radius: 50%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 30px;
    // color: #ffffff;
  }
}

.chips {
  position: absolute;
  bottom: 50px;
}
